.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 84%);
}

.stop-watch{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
    padding: 30px;
}

.display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 29%);
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.756);
    margin-bottom: 25px;
}

.controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}
.start-button{
    background-color: hsl(120, 100%, 45%);
}
.start-button:hover{
    background-color: hsl(120, 100%, 35%);
}
.stop-button{
    background-color: hsl(10, 92%, 50%);
}
.stop-button:hover{
    background-color: hsl(10, 92%, 40%);
}
.reset-button{
    background-color: hsl(230, 91%, 46%);
}
.reset-button:hover{
    background-color: hsl(230, 91%, 35%);
}